.filter-checkbox {
    margin-top: 26px;
}

.filter-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.filter-checkbox__input:disabled + .filter-checkbox__visible-checkbox {
  background-image: url(../../../images/CheckboxOff.svg);
}

.filter-checkbox__input:checked + .filter-checkbox__visible-checkbox {
  background-image: url(../../../images/Checkboxon.svg);
}

.filter-checkbox__label {
  display: inline;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}

.filter-checkbox__visible-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 20px;
    background-image: url(../../../images/CheckboxOff.svg);
}

.filter-checkbox__text {
    margin-left: 14px;
}
