.search-form {
  padding: 70px 70px 100px 70px;
}

.search-form__form {
  min-height: 1140px;
  min-height: 72px;
  border-radius: 8px;
  border: 1.5px solid #aaa;
  opacity: 0.2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.search-form__input {
  background: #202020;
  display: inline-block;
  flex: 1 auto;
  min-height: 22px;
  border: 1px solid #4285f4;
  color: #8b8b8b;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin-left: 25px;
}

.search-form__button {
  border-radius: 5px;
  background: #4285f4;
  width: 100px;
  height: 52px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  padding: 0;
  margin-right: 10px;
  border: 0;
}
