.header-login-in__link {
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .header-login-in__link {
    font-size: 10px;
  }
}

.header-login-in__button {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  text-decoration: none;
  background: #3ddc84;
  border-radius: 3px;
  width: 76px;
  height: 24px;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  margin-left: 30px;
}

@media screen and (max-width: 320px) {
  .header-login-in__button {
    font-size: 10px;
    width: 54px;
    height: 20px;
    margin-left: 14px;
  }
}
